
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Judah Matheka - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Mr. Judah Matheka."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css'%}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/headshot.jpg' %}" alt="Mr. Judah Matheka" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Mr. Judah Matheka</h1>
			<h2 class="quickFade delayThree">Data Scientist</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<div><li>Email: <a href="mailto:www.baraka.judah@yahoo.com" target="_blank">www.baraka.judah@yahoo(.)com</a></li>
				</div>
				<div>
				<li>LinkedIn: <a href="https://www.linkedin.com/in/judah-baraka-136b06149/" target="_blank">LinkedIn Profile</a></li> 
				<li>Github: <a href="https://github.com/JudahSan?tab=repositories" target="_blank">Github Resositories</a></li>
				</div>
				<div>
				<li>Contacts: +25479033****</li>
				</div>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					
				</div>
			</article>
			<div class="clear"></div>
		</section>
		</br>
		<section>
			<div class="sectionTitle">
				<h1>Skills</h1>
			</div>

			<div class="sectionContent">
				<ul class="Skills">
					<div><h2>Programming:</h2>

						<li>C, C++, Java, Python</li></div>


					<div><h2>Frameworks:</h2> 
					      <li>Jupiter, NumPy, TensorFlow</li></div>
					<div><h2>Certifications:</h2> 
						<li>The Data Science Course 2020 Udemy(ongoing), 
MySQL for Data Analytics and Business Intelligence by Udemy. Certificate earned at    04/30/2020</li>
                        <li>Technical Support Fundamentals by Google on Coursera. Certificate earned at 04/08/2020
                        </li>
                        <li>Crash Course on Python by Google on Coursera. Certificate earned at   04/09/2020, Google Cloud Platform Fundamentals: Core Infrastructure on Coursera. Certificate earned at 07/04/2020
                        </li>
                    </div>
					<div><h2>Version Control Systems:</h2> <li> Git</li>
					</div>
					
				</ul>
			</div>
			<div class="clear"></div>
		</section>
			<br/>

		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Multimedia University of Kenya</h2>
					<p class="subDetails"> 2017 - present</p>
					<p>Bachelor of Science in Mathematics and Computer Science (Statistics) (ongoing)</p>
				</article>
				</br>
				<article>
					<h2>Kangaru School</h2>
					<p class="subDetails"> 2013 - 2016</p>
					<p>Kenya Certificate of Secondary Education(B)</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<br/>
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Usalama Children’s Centre</h2>

                     <p class="subDetails">January 2017 - March 2017</p>
					<p>Responsibilities:
						
							<li> Troubleshoot computers, scanners and network issues
								</li>
							<li> Managing banking portals 
								</li>
							<li> Regular update of records in the computer system
								</li>
							</p>
				</article>
				<br/>
				<article>
					<h2>Maasai Shop Accessories Salesperson/Marketer</h2>
					<p class="subDetails">March 2017 - September 2017</p>
					<p>Responsibilities:

							<li> Repackaging as stock take
								</li>
							<li> Online marketing of goods and services
								</li>

					</p>
				</article>
				
				<br/>	
				<article>
					<h2>Navigators Kenya Inventory Checking</h2>
					<p class="subDetails">December 2017</p>
					<p>Responsibilities:

							<li> Receiving and counting goods physically, categorizing and labeling them
								</li>
							<li> Posting accurate entries about goods received and dispatched in the inventory record books and computer system
								</li>

					</p>
				</article>

				
			</div>
			<div class="clear"></div>
		</section>
		<br/>
	<section>
			<div class="sectionTitle">
				<h1>Languages</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>English
					</h2>
					<p class="subDetails"> Fluent</p>
					
			
				</article>
				
				<article>
					<h2>Kiswahili</h2>
					<p class="subDetails"> Working proficiency</p>
				
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		<br/>

		<section>
			<div class="sectionTitle">
				
				<h1>Leadership Positions Held</h1>

			</div>

					<div>
						<article>
				<p><li>
					Mathematics club
						</li>
					<li>Computer Information Technology Club
						</li>
				</p>
					</div>
			
				</article>
				
			</div>
			<div class="clear"></div>
		</section>


		
		
		
		
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>